body {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 25%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.controls label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.search-input,
select,
.search-btn {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-btn {
  background-color: lightslategray;
  color: white;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  /* background-color: rgba(106, 147, 121, 0.788); */
}

.search-btn:focus {
  background-color: rgba(106, 147, 121, 0.788);

}

.grid-container {
  display: inline-block;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; */
  width: 95%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
  margin-bottom: 25px !important;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}

.platforms {
  list-style-type: none;
  padding-left: 0;
}

.platforms li {
  background-color: #eee;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
}

.footer {


  position: fixed;
  /* margin-top: 90%; */
  align-content: center;
  padding-left: 15%;


  text-align: center;
  margin-top: auto;
  padding: 20px;
  color: black;
  /* background-color: #333;
  color: white; */
}

.footer a {
  color: white;
  margin-left: 10px;
}

.footer img {
  width: 20px;
  height: 20px;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.loader {
  margin: 50px auto;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer-name {
  display: inline-block;
  margin-right: 8px;
  margin-left: 40px;
  margin-top: 85%;
  color: black;
}

.platform-badge {
  border-radius: 8px;
    background: lightslategrey;
    font-size: 18px;
    color: white;
    padding: 1%;
    margin-right: 10px;
}
